.top{
    background-color: cadetblue;
    height: 80px;
    width: 60%;
    margin-left: 23%;
    padding-top: 5px;
    padding-left: 80px;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    text-decoration:underline;
}

.bottom{
    height: 80px;
    width: 60%;
    margin-top: 30%;
    background-color: cadetblue;
    margin-left: 23%;
    padding-left: 23%;
}



